.loader-container {
  background-color: rgb(31, 41, 55);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-width: 28rem;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.spinner {
  animation: spin 1s linear infinite;
  height: 4rem;
  width: 4rem;
  border-radius: 9999px;
  border-top: 4px solid rgb(59, 130, 246);
  border-bottom: 4px solid rgb(59, 130, 246);
}

.progress-container {
  width: 100%;
  background-color: rgb(55, 65, 81);
  border-radius: 9999px;
  height: 0.5rem;
}

.progress-bar {
  background-color: rgb(59, 130, 246);
  height: 0.5rem;
  border-radius: 9999px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loading-text {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
}

.tip-container {
  background-color: rgb(55, 65, 81);
  padding: 1rem;
  border-radius: 0.5rem;
}

.tip-text {
  color: rgb(209, 213, 219);
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  font-style: italic;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
